<div  class="container">
    <h2>Vivero el Otoño</h2>
    <hr>
    <img src="../../../assets/images/banner.png" >
    <hr>
    <table class="table">
        <thead >
          <tr >
            <th class="table-header" scope="col">Id</th>
            <th  class="table-header" scope="col">Nombre comun</th>
            <th class="table-header" scope="col">Tipo</th>
            <th class="table-header" scope="col">Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let plant of plants">
            <th >{{plant.id}}</th>
            <td>{{plant.nombre_comun}}</td>
            <td>{{plant.tipo}}</td>
            <td>{{plant.clima}}</td>
          </tr>
          
        </tbody>
      </table>
      <div class="total">Total Plantas de interior: {{interior}}</div>
      <div class="total">Total Plantas de exterior: {{exterior}}</div>

      <footer>Contact us: +57 3102105253 - infoviveroelotonio.com - viveroelotonio</footer>
</div>

